<div
                  class="wow fadeInUp mb-12 overflow-hidden rounded-[5px]"
                  data-wow-delay=".1s"
                >
                  <img
                    src="/assets/blog/bannder-ad.png"
                    alt="image"
                    class="w-full"
                  />
                </div>