<section class="relative z-10 overflow-hidden pt-10 pb-8 md:pt-20 lg:pt-30 bg-emerald-400"> 
    <div class="w-full h-px bg-gradient-to-r from-stroke/0 via-stroke dark:via-dark-3 to-stroke/0 absolute left-0 bottom-0"></div> 
      <div class="max-w-[1240px] container mx-auto"> 
        <div class="-mx-4 flex flex-wrap items-center"> 
          <div class="w-full px-4"> 
            <div class="text-center"> 
              <h1 class="mb-1 text-3xl font-bold text-dark dark:text-white sm:text-4xl md:text-[40px] md:leading-[1.2]"> Blog Detail </h1> 
            
              <ul class="flex items-center justify-center gap-[10px]"> 
                <li> 
                  <a href="/" class="flex items-center gap-[10px] text-base font-medium text-dark dark:text-white">
                  Home
                  </a> 
                </li> 
                <li> 
                  <a href="/blog" class="flex items-center gap-[10px] text-base font-medium text-body-color dark:text-dark-6"> <span class="text-body-color dark:text-dark-6"> / </span> 
                    Blog 
                  </a> 
                </li> 
              </ul> 
            </div> 
          </div> 
        </div> 
      </div> 
  </section>