<div class="w-60 max-w-full px-4">
        <a href="/" class="navbar-logo block w-full py-5">
          {(Astro.url.pathname === '/') ? (
            <img
              src="/assets/logo/logo-white.svg"
              alt="logo"
              class="header-logo w-full"
            />
          ) : (
            <img src="/assets/logo/logo.svg" alt="logo" class="w-full dark:hidden" />
            <img src="/assets/logo/logo-white.svg" alt="logo" class="w-full hidden dark:block" />
          )}
          
        </a>
</div>